.weather-forecast-container{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    border: 4px solid #4b9cd3b2;
    border-radius: 10px;
    background-color:rgba(240, 248, 255, 0.651);
    padding: 10px;
    margin: 20px;
    margin-left: 25px;
  }

  .date {
    color: #252525;
    font-weight: 400;
    font-family: 'Noto Sans';
  }